*{
    font-family: sans-serif;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.bg-img{
  
   rotate: 180deg;
   width: 100%;
}
.sidebar{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:250px;
    padding:10px 14px;
    background-color:#fff;
    transition:1s;
}
.sidebar.close{
    width:78px;
}
body{
    height:100vh;
    background-color: #E4E9F7;
}
.sidebar header image-text{
    display: flex;
    align-items:center ;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    white-space:nowrap;
}
.sidebar.close .text{
    opacity: 0;
}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
   margin-top: -2px;

}
.sidebar header .toggle{
    position: absolute;
    top:50%;
    right:-25px;
    transform:translateY(-50%);
    height:25px;
    width:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: blue;
    color:#fff;
    font-size: 22px;

}
.sidebar header{
    position: relative;
}
.bx{
    float: left;   
}
.sidebar li{
    height:50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .text,
.sidebar li .icon{
    color:#4a4b4e;
}
.sidebar li a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition:0.5s ;
    width: 100%;
    
}
.sidebar .search-box{
    background-color: #E4E9F7 ;
}
.search-box input{
    height:100%;
    width:100%;
    outline: none;
    border: none;
    background-color: #E4E9F7;
}
.sidebar li a:hover{
    background-color:rgb(150, 150, 223) ;
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:aliceblue;
}
